@charset "UTF-8";
@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');
.container {
	width: 100%;
	height: 100%;
	
	transform : rotate(0.04deg);
}
.container::after{
	width: 100%;
	height: 100%;
	content: "";
	background: url("https://itimg.chosun.com/sitedata/image/202008/12/2020081201857_0.png");
	position: absolute;
	top: 0;
	left: 0;
}
h2{
	color:#333333;
	font-family: 'Cafe24Oneprettynight';
	
}
table{
	width: 500;
	border: 1px,solid,#644b69;

}
td{
	font-weight: bold; 
	font-family: 'Cafe24Oneprettynight';
}
